body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fce4ec;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.amplop {
  height: auto;
  display: block;
  width: 200px;
}

.envelope-img:hover {
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  border: none;
  background: #ff4081;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #e91e63;
}